@model IEnumerable<EmbeddedMvc.Models.SchowekModel>

@{
    ViewBag.Title = "Schowek lista";
}

<h2>Schowek lista</h2>

<p>
    @Html.ActionLink("Utwórz nowy schowek", "Create")
    
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
      
   
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
      
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.SchwId }) |
            @Html.ActionLink("Szczegóły", "Details", new {  id=item.SchwId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.SchwId  })
        </td>
    </tr>
}

</table>
